/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body,
html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  font-family: 'Source Code Pro', monospace;
}

.logo {
  grid-area: logo;
  align-self: center;
}

.logo h1 {
  font-size: 30px;
  line-height: 78%;
  margin: 0;
  white-space: pre;
}

.input {
  grid-area: input;
  align-self: end;
  padding-bottom: 10vh;
}

.input input {
    font-size: 18px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

.root {
    display: grid;
    height: 100%;
    grid-template:
        "btns . ." auto
        ". logo ." auto
        ". input ." auto
        / auto auto auto;
}
